<%- include("header") -%>

<div id="heading" class="box">
  <h1><%= categoryToDoList %></h1>
</div>
<div class="box">
  <form action="/delete" method="post">
    <% todoList.forEach(function(item) { %>
      <div class="item">
        <input type="checkbox" name="item" value="<%=item._id%>" onchange="this.form.submit()">
        <p><%= item.description %></p>
      </div>
    <% }) %>
    <input type="hidden" name="listName" value="<%= categoryToDoList %>">
  </form>
  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="listName" value="<%= categoryToDoList %>">+</button>
  </form>
</div>

<%- include("footer") -%>
